<h4>Archive</h4>
<ul>
  <% if archives.length > 0 %>
    <% for entry in archives %>
      <li>
        <span class="arr">&#187;</span> <a href="<%= entry.path %>"><%= entry.title %></a>
      </li>
    <% end %>
  <% end %>
</ul>

