body {
  background: url(/img/background.jpg);
}

h1 {
  color: #f600ff;
  font-family: "Mistral", helvetica;
  font-size: 48px;
  margin: 0;
}

body > header,
body > section,
body > footer {
  background: #fff;
  margin-left: 50px;
  padding-left: 50px;
}

body > header {
  padding-top: 75px;
}

body > section {
  overflow: hidden;
}

h6 a,
h6 a:hover {
  color: #444;
}

.post {
  margin: 20px 0;
}