body {
  background: url(/img/background.jpg);
}

h1 {
  color: #f600ff;
  font-family: "Mistral", helvetica;
  font-size: 48px;
  margin: 0;
}

body > header,
body > section,
body > footer {
  background: #fff;
  margin-left: 50px;
  padding-left: 50px;
}

header {
  padding-top: 75px;
}

