html,
body {
  overflow: auto;
  background: url(/img/background.jpg);
}

h1 {
  color: #f600ff;
  font-family: "Mistral", helvetica;
  font-size: 48px;
  margin: 0;
}

.page {
  background: #000;
  margin-left: 50px;
}

.page > header,
.page > section,
.page > footer {
  background: #fff;
  padding: 0 50px;
  width: 525px;
}

.page > header {
  padding-top: 75px;
  padding-bottom: 25px;
}

.page > footer p {
  text-align: center;
  margin-bottom: 20px;
}

.page > footer,
.page > section {
  overflow: hidden;
}

article header {
  margin-bottom: 15px;
}

footer {
  margin-top: 0;
  border: 0;
}

a,
a:hover {
  color: #000;
}

p {
  color: #555;
}

.post {
  margin: 30px 0;
}

.post img {
  width: 250px;
  float: left;
  margin-right: 25px;
}

.post::after {
  display: block;
  content: '';
  width: auto;
  height: 8px;
  margin: 0 auto;
  background-color: #000;
  margin-top: 31px;
}