<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>FAT - words about javascript</title>
  </head>
  <body>
    <section class="page">
      <header>
        <h1>FAT</h1>
      </header>
      <%= yield %>
      <footer>
          <!-- <iframe src="http://platform.twitter.com/widgets/follow_button.html#_=1320003368285&amp;align=&amp;button=blue&amp;id=twitter_tweet_button_10&amp;lang=en&amp;link_color=&amp;screen_name=fat&amp;show_count=false&amp;show_screen_name=&amp;text_color=" allowtransparency="true" frameborder="0" scrolling="no" class="twitter-follow-button" style="width: 300px; height: 20px; " title=""></iframe> -->
        <p>© 2011. All rights reserved.</p>
      </footer>
    <section>
  </body>
</html>

