<!doctype html>
<html>
  <head>
    <link rel="shortcut icon" href="/img/fav.png">
    <link rel="stylesheet" type="text/css" href="/css/production.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title.gsub('"',"'") %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= title == 'app' ? 'fat - words about javascript' : title %></title>
  </head>
  <body>
    <header class="masthead">
      <div class="container first span14">
        <h1><a href="/">FAT</a></h1>
      </div>
    </header>
    <div class="container first span14">
      <%= yield %>
    </div>
    <footer>
    <div class="container first span14">
      <p>
      © 2012. All rights reserved.
      </p>
      <p><a href="https://twitter.com/fat" class="twitter-follow-button" data-show-count="false">Follow @fat</a></p>
    </footer>
    <script src="/js/highlight.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>