<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= title == 'app' ? 'fat - words about javascript' : title %></title>
  </head>
  <body>
    <header>
      <h1><a href="/">FAT</a></h1>
    </header>
    <%= yield %>
    <footer>
      <div class="avatar">
        <img src="/img/fat.jpg" alt="picture of fat"/>
      </div>
      <p><strong>Hey!</strong> My name is jacob. I write words about javascript here.</p>
      <p>If you're wondering, I work at twitter on the platform team and I'm the co-author of some pretty nifty open source projects, <a href="//ender.no.de">Ender</a> and <a href="//twitter.github.com/bootstrap">Bootstrap</a>, with my good friends <a href="//twitter.com/ded">@ded</a> and <a href="//twitter.com/mdo">@mdo</a> (respectively).</p>
      <p>For the record, I'm not a computer scientist. Also, I'm not obese. But I will respond to fat. I am hungover. And I'm probably eating pizza.</p>
    </footer>
    <script src="/js/highlight.js"></script>
  </body>
</html>

